.header {
  height: rem(56px);
  margin-bottom: rem(120px);
  background-color: var(--mantine-color-body);
  border-bottom: var(--mantine-color-dark-4);
}

.inner {
  height: rem(56px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-flex;
  padding-top: rem(6px);

  @include dark {
    color: #fff;
  }

  @include light {
    color: #272A33;
  }
}

.link {
  display: block;
  line-height: 1;
  padding: rem(8px) rem(12px);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-dark-0);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;

  @include hover {
    background-color: var(--mantine-color-dark-6);
  }

  [data-mantine-color-scheme] &[data-active] {
    background-color: var(--mantine-color-blue-filled);
    color: var(--mantine-color-white);
  }
}

.icon {
  width: rem(22px);
  height: rem(22px);
}

.dark {
  @include dark {
    display: none;
  }

  @include light {
    display: block;
  }
}

.light {
  @include light {
    display: none;
  }

  @include dark {
    display: block;
  }
}